* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0, 0,0.3);

}
.si-page {
    background: url('https://64.media.tumblr.com/e9e5952e2261cb6e04e59e530ec696d0/83fca5b53910cd85-cf/s1280x1920/3db25026cf1a9b27aad2715bde81c56a2af5f3c8.gifv') no-repeat center center fixed;
    background-size: cover;
}
.si-page h1 {
    color: white;
    text-shadow: 3px 3px 5px pink;
}